.surveyIntroRect {
    stroke-width: 2;
}

#donut-chart-area svg {
    margin: auto;
    display: inherit;
}

.surveyIntroForm {
    position: absolute;
    right: 0%;
    top: 3%;
}

.tooltipSurveyIntro {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
}

.rectLocksUnlocks {
    fill: transparent;
    shape-rendering: crispEdges;
}

.locksUnlocksCircle:hover {
    stroke: black;
}

.locksUnlocksCircleTip {
    position: absolute;
    visibility: hidden;
    background-color: white
}

.tooltipPieCharts {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
}

.legendPieCharts {
    font-size: 12px;
}

.rectPieCharts {
    stroke-width: 2;
}

div.tooltipSunburst {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    display: none;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

div.tooltipSunburst p {
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
}